defaultHook:
  type: merkleTreeHook
defaultIsm:
  threshold: 1
  type: messageIdMultisigIsm
  validators:
    - "$VALIDATOR_ADDRESS"
owner: "$DEPLOYER_ADDRESS"
proxyAdmin:
  owner: "$DEPLOYER_ADDRESS"
requiredHook:
  beneficiary: "$DEPLOYER_ADDRESS"
  maxProtocolFee: "100000000000000000"
  owner: "$DEPLOYER_ADDRESS"
  protocolFee: "0"
  type: protocolFee


