export AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY_ID"
export AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY"
export AWS_USER_NAME="$AWS_USER_NAME"
export AWS_ACCOUNT_ID="$AWS_ACCOUNT_ID"
export AWS_DEFAULT_REGION="$AWS_DEFAULT_REGION"
export VALIDATOR_KEY_ALIAS="$VALIDATOR_KEY_ALIAS"
export AWS_KMS_KEY_ID="$AWS_KMS_KEY_ID"
export VALIDATOR_ADDRESS="$VALIDATOR_ADDRESS"
export VALIDATOR_BUCKET_NAME="$VALIDATOR_BUCKET_NAME"

export SERVICE_NAME="source"

